:root {
	--gray-color: #E5E5E5;
	--main-border-radius: 8px;
	--secondary-border-radius: 16px
}

body {
	font-family: inter;
	font-weight: 400;
}

.t-bg-gray-color {
	background-color: var(--gray-color);
}

.t-bg-secondary-gray-color {
	background-color: #EBF0EE;
}

.t-bg-secondary-color {
	background-color: #36B37F;
}

.t-main-color {
	color: #28352F;
}

.t-secondary-color {
	color: #36B37F;
}

/* Neutrals/N800 */
.t-thirdiary-color {
	color: #172B4D;
}

.t-fourthiary-color {
	color: #3A4A42;
}

.t-fifthiary-color {
	color: #42526E;
}

.t-sixthiary-color {
	color: #344563;
}

.t-seventhiary-color {
	color: #36B37E;
}

.t-icon-color {
	color: #505F79;
}

.t-fs-1 {
	font-size: 12px;
}

.t-fs-2 {
	font-size: 17px;
}

.t-fs-3 {
	font-size: 20px;
}

.t-fs-4 {
	font-size: 24px;
}

.t-fs-5 {
	font-size: 32px;
}

.t-fs-6 {
	font-size: 40px;
}

.t-fw-400 {
	font-weight: 400;
}

.t-fw-500 {
	font-weight: 500;
}

.t-fw-600 {
	font-weight: 600;
}

.t-fw-700 {
	font-weight: 700;
}

.t-main-border-radius {
	border-radius: var(--main-border-radius);
}

.t-main-container {
	max-width: 834px;
}

.backdrop {
	z-index: 2;
	transition: 0.5s;
	transform: translateX(100%);
}

/* TODO: User bootstrap classes */
.menu-overlay {
	height: 90%;
	width: 100%;
	padding-top: 10px;
	box-shadow: 0px 48px 48px rgba(37, 47, 137, 0.08);
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.introduction {
	background-image: url(img/header-ilustration-mobile.svg);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
}

.indicator {
	position: static;
	width: 48px;
	height: 4px;
	left: 139.5px;
	top: 121px;

	/* Success/G300 */

	background: #36B37E;
	border-radius: 24px;	
}

.modal-fullscreen-md-down .modal-content.t-main-border-radius {
	border-radius: var(--secondary-border-radius);
}

.modal-fullscreen-md-down .modal-footer.t-main-border-radius {
	border-radius: var(--secondary-border-radius);
}
 
.t-primary-btn:hover {
	box-shadow: 0px 8px 16px rgba(54, 179, 127, 0.24);
}

.t-primary-btn:active {
	background: #008552;
}

.languages,
.frameworks,
.skills {
	min-height: 332px;
}

.language-icon {
	top: 24px;
}

.form-control:focus {
	border-color: #36B37F;
	box-shadow: 0 0 0 0.25rem #C5E9DA;
}

@media (min-width:425px) {
	.mobile-nav-item {
		display: none;
	}

	.nav-item {
		display: block !important;
	}

	.social-media-icons i {
		font-size: 20px;
	}
}

@media (max-width: 767px) {
	.modal-fullscreen-md-down {
		width: auto;
		height: 95%;
		margin: .5rem;
		padding-right: 0px;
	}
}

@media (min-width: 768px) {
	.social-media-icons i {
		font-size: 24px;
	}

	.main {
 		background-image: url(img/header-ilustration-desktop.svg); 
		background-repeat: no-repeat;
		background-position-x: center;
		background-position-y: center;
		background-size: cover;
		min-height: 560px
	}

	.modal-fullscreen-md-down .modal-content.t-main-border-radius {
		border-radius: var(--main-border-radius);
	}
	
	.modal-fullscreen-md-down .modal-footer.t-main-border-radius {
		border-radius: var(--main-border-radius);
	}

	.btn-close {
		background-color: #EBECF0;
	}

	.introduction {
		background-image: none;
	}
}

@media (min-width: 960px) {
	.languages,
	.frameworks,
	.skills {
		min-height: 361px;
	}

	.main {
		min-height: 1110px;
	}

	.introduction {
		margin-top: 150px;
	}

	.modal-body .btn {
		font-size: 15px;
		white-space: nowrap;
	}

	.about-me {
		min-height: 350px;
	}

	.about-me img {
		z-index: -1;
	}

	.contact-desktop-2 {
		width: 130px;
	}

	#contact {
		font-size: 30px;
	}
}
